.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, .5);
  display: flex;

  .card {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 500px;
    background: #fff;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    button {
      margin-top: auto;
    }

    .closed {
      position: absolute;

    }
  }
}