.shure {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  .card{
    width: 100%;
    position: relative;
    padding: 20px;
    max-width: 500px;
    aspect-ratio: 1.5;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    justify-content: space-evenly;
  }
}