.header{
  display: flex;
  gap: 20px;
  padding: 40px 40px 0;
  width: 100%;
  height: 130px;
  max-width: 1440px;
  img{
    width: 90px;
    height: 90px;
  }
  h1{
    font-family: Arial,sans-serif;
    font-size: 25px;
    margin: auto 0;
  }
}