.main {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  gap: 20px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & > div {
      display: flex;
      gap: 10px;
      height: 40px;
      align-items: center;
      position: relative;

      &:not(:first-child) {
        padding-left: 20px;

        &:before {
          position: absolute;
          content: '';
          width: 1px;
          height: 80%;
          background: rgba(0, 0, 0, .5);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      p {
        font-size: 18px;
        font-family: Arial, sans-serif;

      }

      button {
        width: 25px;
        height: 25px;
        background: #fff;
        color: black;
        border: black 1px solid;
        border-radius: 50%;
        transition: .5s;
        cursor: pointer;

        &:hover {
          filter: invert(1);
        }
      }
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #232323;
    margin: auto;
    min-height: 500px;
    gap: 10px;
    border: black 1px solid;
    padding: 20px;
    border-radius: 20px;
    color: white;

    .tags{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .add {
      margin: auto 50px;
    }

    .block {
      background: transparent;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .date {
        font-size: 18px;
        margin-bottom: 21px;
        margin-top: 21px;
        font-weight: bold
      }

      .title {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .text {
        font-size: 16px;
        line-height: 25px;

      }

      .big {
        font-weight: bold;
        font-size: 26px;
      }

      .img {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 8px;
        object-fit: cover;
      }
      .video{
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 8px;
      }

      .closed {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
        background: black;
        transform: translate(10px, -10px);
        color: white;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
        filter: invert(1);
      }
      }
      position: relative;
    }
  }
}